<!DOCTYPE html>
<html>
<head>
  <title>RailsSorting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <p>
    <ul>
      <li><%= link_to 'products', products_path %></li>
      <li><%= link_to 'custom fields', custom_fields_path %></li>
      <li><%= link_to 'custom field definitions', custom_field_definitions_path %></li>
    </ul>
  </p>
</body>
</html>
